body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.chat-container {
    width: 100%;
    max-width: 100%;
    height: calc(100% - 10px); /* Adjust the value according to the height of the input bar */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: auto; /* Use 'auto' to show scrollbar only when necessary */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.chat-box {
    max-height: 100%; /* Set a maximum height for the chat box */
    padding: 10px;
    background-color: #ffffff;
    overflow-y: auto; /* Use 'auto' to show scrollbar only when necessary */
}


.user-message,
.bot-message {
    margin-bottom: 10px;
}

.input-bar {
    position: fixed;
    bottom: 0;
    width: 98%; /* Set a percentage value based on your design */
    max-width: 100%; /* Optionally, set a maximum width to prevent it from becoming too wide */
    margin: 0 auto; /* Center the input bar horizontally */
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

input[type="button"] {
    margin-left: 10px;
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;    
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
}
.sidebar {
    width: 20%;
    height: 75%;
    background: #333;
    position: fixed;
    right: 0; /* Set right to 0 to stick the sidebar to the right side */
    top: 50%; /* Set top to 50% to center the sidebar vertically */
    transform: translate(0, -50%); /* Use transform to center the sidebar vertically */
    z-index: 0;
}


.sidebar-item {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #555;
    cursor: pointer;
    transition: background 0.3s ease;
}

.sidebar-item:hover {
    background: #555;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Set position to relative */
    z-index: 2; /* Set a higher z-index value for the navbar */
}   
